---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Doomsday Tester</title>
	</head>
	<body class="bg-slate-950">
		<main
			class="flex py-2 flex-col justify-between items-center font-sans bg-slate-950 text-slate-300 h-[100vh] max-h-full"
		>
			<div class="flex w-72 md:w-80 space-x-2">
				<a
					class="bg-green-800 text-center w-1/2 hover:bg-green-700 cursor-pointer rounded-md p-4"
					href="/settings">Settings</a
				>
				<a
					class="bg-blue-800 text-center w-1/2 hover:bg-blue-700 cursor-pointer rounded-md p-4"
					href="/stats">Stats</a
				>
			</div>
			<header
				class="flex flex-col items-center bg-slate-600 w-72 md:w-80 rounded-md p-2 md:p-4"
			>
				<p id="question">Which day of the week is...</p>
				<h1 class="text-xl" id="date"></h1>
			</header>
			<div
				class="flex text-sm flex-col hidden w-72 md:w-80 p-2 md:p-4 bg-slate-600 rounded-md space-y-2"
				id="days"
			>
				<button
					class="p-4 rounded-md bg-slate-950 hover:bg-slate-800 cursor-pointer day"
					x-index="0"
					id="sunday">Sunday</button
				>
				<button
					class="p-4 rounded-md bg-slate-950 hover:bg-slate-800 cursor-pointer day"
					x-index="1"
					id="monday">Monday</button
				>
				<button
					class="p-4 rounded-md bg-slate-950 hover:bg-slate-800 cursor-pointer day"
					x-index="2"
					id="tuesday">Tuesday</button
				>
				<button
					class="p-4 rounded-md bg-slate-950 hover:bg-slate-800 cursor-pointer day"
					x-index="3"
					id="wednesday">Wednesday</button
				>
				<button
					class="p-4 rounded-md bg-slate-950 hover:bg-slate-800 cursor-pointer day"
					x-index="4"
					id="thursday">Thursday</button
				>
				<button
					class="p-4 rounded-md bg-slate-950 hover:bg-slate-800 cursor-pointer day"
					x-index="5"
					id="friday">Friday</button
				>
				<button
					class="p-4 rounded-md bg-slate-950 hover:bg-slate-800 cursor-pointer day"
					x-index="6"
					id="saturday">Saturday</button
				>
			</div>

			<div
				class="text-center p-2 w-72 bg-slate-600 rounded-md hidden"
				id="message"
			>
			</div>

			<button
				class="p-4 w-72 md:w-80 rounded-md bg-red-800 hover:bg-red-700 cursor-pointer my-2"
				id="reset">Get New Challenge</button
			>
		</main>
	</body>

	<script>
		import { getSettings } from "../lib/settings.js";
		const settings = getSettings();
		const months = [
			"Jan",
			"Feb",
			"Mar",
			"Apr",
			"May",
			"Jun",
			"Jul",
			"Aug",
			"Sep",
			"Oct",
			"Nov",
			"Dec",
		];
		const days = [
			"Sunday",
			"Monday",
			"Tuesday",
			"Wednesday",
			"Thursday",
			"Friday",
			"Saturday",
		];
		const amtOfDays = [
			null,
			31,
			28,
			31,
			30,
			31,
			30,
			31,
			31,
			30,
			31,
			30,
			31,
		];
		function getRandomDate() {
			let min = settings.minCentury;
			let max = settings.maxCentury;

			let year =
				Math.floor(Math.random() * (max - min)) +
				min +
				100;
			let month = Math.floor(Math.random() * 12) + 1;
			let day =
				Math.floor(
					Math.random() * amtOfDays[month] +
						(month == 2 && year % 4 == 0
							? 1
							: 0)
				) + 1;

			return new Date(`${month}/${day}/${year}`);
		}

		let target;
		let timer;

		const date = document.getElementById("date");
		const message = document.getElementById("message");
		const question = document.getElementById("question");
		const buttons = document.getElementsByClassName("day");
		const daysContainer = document.getElementById("days");

		function setupNewGame() {
			timer = performance.now();
			target = getRandomDate();
			daysContainer.classList.remove("hidden");
			message?.classList.add("hidden");
			date.innerText = `${
				months[target.getMonth()]
			} ${target.getDate()}, ${target.getFullYear()}?`;

			question.innerText =
				new Date().valueOf() > target.valueOf()
					? "Which day of the week was..."
					: "Which day of the week is...";
			message.innerText = "";
		}

		function saveStats(win, time = null) {
			if (!settings.allowStats) {
				return;
			}

			let statData = window.localStorage.getItem("stats");

			if (!statData) {
				window.localStorage.setItem(
					"stats",
					JSON.stringify({
						wins: 0,
						losses: 0,
						times: [],
					})
				);
				statData = window.localStorage.getItem("stats");
			}

			let stats = JSON.parse(statData);

			if (win) {
				stats.wins = stats.wins + 1;
				stats.times.push(time);
			}

			if (!win) {
				stats.losses = stats.losses + 1;
			}

			window.localStorage.setItem(
				"stats",
				JSON.stringify(stats)
			);
		}

		Array.from(buttons).forEach((btn) => {
			const index = parseInt(btn.attributes["x-index"].value);
			btn.addEventListener("click", () => {
				daysContainer.classList.add("hidden");
				message.classList.remove("hidden");
				if (index == target.getDay()) {
					const time = performance.now() - timer;
					message.innerText = `Success ${
						days[index]
					} was correct! Guessed in under ${Math.ceil(
						time / 1000
					)}s!`;

					saveStats(true, time);
					return;
				}

				message.innerText = `Incorrect you guessed ${
					days[index]
				} the answer was ${days[target.getDay()]}`;
				saveStats(false);
			});
		});

		document.getElementById("reset").addEventListener(
			"click",
			() => {
				setupNewGame();
			}
		);

		setupNewGame();
	</script>
</html>
